<form class="form-horizontal">
    <div class="input-group col-sm-5">
        <div class="input-group-addon">标题：</div>
        <input type="text" class="form-control" ng-model="formData.title">
    </div>

    <div class="input-group col-sm-5">
        <div class="input-group-addon">描述：</div>
        <input type="text" class="form-control" ng-model="formData.describes">
    </div>

    <div class="input-group  col-sm-2 col-xs-3">
        <div class="input-group-addon">分类：</div>
        <select class="form-control" ng-model="formData.categorys">
                    <option value="资讯新闻">资讯新闻</option>
                    <option value="财经新闻">财经新闻</option>
                    <option value="娱乐新闻">娱乐新闻</option>
                    <option value="体育新闻">体育新闻</option>
                    <option value="房产新闻">房产新闻</option>
                    <option value="科技新闻">科技新闻</option>
                    <option value="游戏新闻">游戏新闻</option>
                    <option value="军事新闻">军事新闻</option>
        </select>
    </div>
    <div class="input-group">
        <textarea id="editor_id" name="content" style="width:700px;height:300px;" ng-model="formData.content"></textarea>
        <input ng-click="editShow()" type="hidden" name="load" value="加载JS并创建编辑器" />
        <input type="hidden" value="userName" ng-model="formData.uname">
    </div>
    <div class="input-group">
        <input type="submit" value="提交" class="btn btn-primary" ng-click="add()">&nbsp;
        <input type="button" value="重置" class="btn btn-success" ng-click="reset()">
    </div>
</form>
