<h3 class="text-center">修改密码</h3>
<form class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-3">
      <input type="password" class="form-control" placeholder="原密码" ng-model="oldPsd">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-3">
      <input type="password" class="form-control" placeholder="新密码" ng-model="newPsd">
    </div>
  </div>
  <div class="form-group">
    <div class="text-center">
      <button type="button" class="btn btn-default" ng-click="change()">确定</button>
      <button type="button" class="btn btn-danger">取消</button>
    </div>
  </div>
</form>